{% load static %}
<div class="img-footer-container">
    <footer class="footer">
      <div class="container bottom_border">
          <div class="row">
              <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                  <h5 class="headin5_amrc col_white_amrc pt2">Contáctanos</h5>
                  <p class="mb10">Si necesitas asesoría con tu compra no dudes en contactarnos. Hacemos envío a todo Chile.</p>
                  <p><i class="fa fa-location-arrow"></i> San Nicolás 4613, Santiago, Chile</p>
                  <p><i class="fa fa-phone"></i> +569 57066835  </p>
                  <p><i class="fa fa fa-envelope"></i> info@kuribohstore.cl  </p>
              </div>
              <p class="text-center">Copyright @2023 | Kuriboh Store <a href="#"></a></p>
              <ul class="social_footer_ul">
              <li><a href="http://facebook.com/kuriboh-store"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="http://twitter.com/kuriboh-store"><i class="fab fa-twitter"></i></a></li>
              <li><a href="http://linkedin.com/kuriboh-store"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="http://instagrame.com/kuriboh-store"><i class="fab fa-instagram"></i></a></li>
              <li class="text-right">
                <div class="text-right align-right">
                    <img src="https://media.tenor.com/74l5y1hUdtwAAAAj/pokemon.gif" alt="Imagen">
                </div>
                </li>
              </ul>
          </div>
      </div>
    </footer>
</div>