{% extends 'core/home.html' %}
{%load static %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Pokémon</h1>
      </div>
    </div>
      
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            {% for product in products%}
            <img src="{{product.image}}" class="img-card img-fluid" alt="{{product.name}}" >
            <div class="card-body">
              <h5 class="card-title"> {{product.name}}</h5>
              <p class="card-text">{{product.descrption}}</p>
              <p class="card-text">{{product.qty}} Unidades Disponibles</p>
              <p class="card-text">Valor: ${{product.price}}</p>
              <button class="btn btn-outline-warning">Añadir al carrito</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}