{% extends 'core/home.html' %}
{%load static %}
{% block content %}
{%load format_amount%}
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Yugioh</h1>
      </div>

      </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for product in products %}
          <div class="col">
            <div class="card">
              <img src="{{product.image}}" class="img-card img-fluid" alt="{{product.name}}" >
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text"> {{product.qty}} Unidades Disponibles</p>
                <p class="card-text">Valor: ${{product.price|format_amount}}</p>
                {% if request.user.is_authenticated %}
                <form action="{% url 'add_to_cart' cart.cart_id product.id %}" method="POST" class="form-inline">
                  {% csrf_token %}
                  
                  <label for="qty">Cantidad:</label>
                  <input type="number" class="form-control" name="qty" id="qty" value="1" min="1" max="{{product.qty}}" class="mb-2 mr-sm-2">
                  <br>
                  <button type="submit" class="btn btn-outline-warning mb-2 mr-sm-2">Añadir al carrito</button>
                </form>
                {% else %}
                <p class="card-text"><small class="text-muted">Inicia sesión para añadir al carrito</small></p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br>
{% endblock %}